<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用于对应UserMapper接口-->
<mapper namespace="com.hit.store.mapper.ProductMapper">
    <resultMap id="productEntityMap" type="com.hit.store.entity.Product">
        <id column="id" property="id"></id>
        <result column="category_id" property="categoryId"></result>
        <result column="item_type" property="itemType"></result>
        <result column="sell_point" property="sellPoint"></result>
        <result column="is_delete" property="isDelete"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>
    <select id="findAll" resultMap="productEntityMap">
        SELECT * FROM t_product WHERE status = 1 ORDER BY priority DESC LIMIT 0,4
    </select>
    <select id="findById" resultMap="productEntityMap">
        SELECT * FROM t_product WHERE ID = #{ID} AND status = 1
    </select>

</mapper>